#!/bin/bash

packages=("git" "zsh" "sheldon" "tmux" "neovim" "ripgrep" "fzf" "direnv" "git-delta")

{{- if eq .chezmoi.os "darwin" }}
{{- if .install_amethyst }}
packages+=("amethyst")
{{- end }}
brew install "${packages[@]}"
{{- else if and .chezmoi.osRelease (eq .chezmoi.osRelease.id "arch") }}
packages+=("pipewire-pulse")
if [ "$(id -u)" -eq 0 ]; then
    pacman_cmd=(pacman -S)
else
    pacman_cmd=(sudo pacman -S)
fi
"${pacman_cmd[@]}" "${packages[@]}"
{{- end }}
