{{- $install_amethyst := false -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $install_amethyst = promptBoolOnce . "install_amethyst" "Do you want to install Amethyst (a window manager for macOS) [y/n]" true -}}
{{- end -}}

[data]
git_name = {{ promptStringOnce . "git_name" "Git username" | quote }}
git_email = {{ promptStringOnce . "git_email" "Git email address" | quote }}
install_amethyst = {{ $install_amethyst }}
