# general

## setopts
setopt correct

setopt extended_glob

setopt interactive_comments

setopt no_beep
setopt nolistbeep

setopt auto_pushd
setopt pushd_ignore_dups
setopt pushd_silent

typeset -g KEYTIMEOUT=1

## history
HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000
setopt hist_verify
setopt share_history
setopt inc_append_history
setopt hist_ignore_all_dups
setopt hist_reduce_blanks

## bindkey
bindkey -v

# aliases

{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -G'
alias la='ls -aG'
alias ll='ls -lhG'
alias lla='ls -lhaG'
{{- else if eq .chezmoi.os "linux" }}
alias ls='ls --color=auto'
alias la='ls -a --color=auto'
alias ll='ls -lh --color=auto'
alias lla='ls -lha --color=auto'
{{- end }}

alias cm='chezmoi -v'

alias ..='cd ..'
alias ...='cd ../..'

alias pd='popd'

alias cl='clear'

alias vi='nvim'
alias vim='nvim'
alias vimrc='(cd ~/.local/share/chezmoi/dot_config/nvim/ && nvim init.lua && chezmoi -v apply)'

alias zshrc='chezmoi edit ~/.zshrc && chezmoi -v apply && source ~/.zshrc'

alias history='history 0'

alias py='python3'
alias python='python3'
alias pip='pip3'

alias g='git'
alias ga='git add -A'

hp() {
    herdr pane split --current --direction down --ratio 0.67 --focus >/dev/null &&
        herdr pane focus --current --direction up >/dev/null &&
        herdr pane split --current --direction right --ratio 0.5 --focus >/dev/null &&
        herdr pane focus --current --direction left >/dev/null
}

# envs

export EDITOR='nvim'

## homebrew
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
{{- end }}

## sheldon
eval "$(sheldon source)"

## fzf
eval "$(fzf --zsh)"

### compinit
autoload -Uz compinit && compinit

### direnv
eval "$(direnv hook zsh)"

# startups
[[ $- != *i* ]] && return
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh
[[ "${HERDR_ENV:-}" != "1" && -z "$SSH_CONNECTION" ]] && herdr
