[user]
    name = {{ .git_name }}
    email = {{ .git_email }}
[push]
    default = current
    autoSetupRemote = true
[pull]
    rebase = true
[init]
	defaultBranch = main
[core]
    quotepath = false
