# general

## setopts
setopt correct

setopt extended_glob

setopt interactive_comments

setopt no_beep
setopt nolistbeep

setopt auto_pushd
setopt pushd_ignore_dups
setopt pushd_silent

typeset -g KEYTIMEOUT=1

## history
HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000
setopt hist_verify
setopt share_history
setopt inc_append_history
setopt hist_ignore_all_dups
setopt hist_reduce_blanks

## bindkey
bindkey -v

# aliases

{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -G'
alias la='ls -aG'
alias ll='ls -lG'
alias lla='ls -laG'
{{- else if eq .chezmoi.os "linux" }}
alias ls='ls --color=auto'
alias la='ls -a --color=auto'
alias ll='ls -l --color=auto'
alias lla='ls -la --color=auto'
{{- end }}

alias cm='chezmoi -v'

alias ..='cd ..'
alias ...='cd ../..'

alias pd='popd'

alias vi='nvim'
alias vim='nvim'
alias vimrc='(cd ~/.local/share/chezmoi/dot_config/nvim/ && nvim init.lua && chezmoi -v apply)'

alias zshrc='chezmoi edit ~/.zshrc && chezmoi -v apply && source ~/.zshrc'

alias history='history 0'

alias py='python3'
alias python='python3'
alias pip='pip3'

alias g='git'
alias ga='git add -A'

alias t='tmux'
alias tls='tmux ls'
alias ta='tmux a'
alias tk='tmux kill-session'
alias tks='tmux kill-server'
alias tsyn='tmux set synchronize on'
alias ten='tmux set synchronize off ; clear'
alias tmuxrc='chezmoi edit ~/.tmux.conf && chezmoi -v apply && tmux source-file ~/.tmux.conf'

tp () {
    local pane=${1:-3}
    sh ~/.chezmoi/scripts/tmux/rearrange-pane${pane}.sh
}

tsw() {
    local source_window=${1:-.}
    local target_window=${2:-!}
    tmux swap-window -s "$source_window" -t "$target_window"
}

# hooks

## notify when long command finished
autoload -Uz add-zsh-hook
typeset -g ZSH_LONG_CMD_THRESHOLD=10
typeset -g ZSH_LONG_CMD_SOUND="$HOME/.chezmoi/assets/sounds/notification.{{ if eq .chezmoi.os "darwin" }}aiff{{ else }}wav{{ end }}"
typeset -g ZSH_LONG_CMD_IGNORE_RE='^(less|more|man|vi|vim|nvim|view|most|bat|batcat|tig|fzf|(git|g) (log|diff|show|status))( |$)'
typeset -g __zsh_long_cmd_start_time=0
typeset -g __zsh_long_cmd_skip=0

_zsh_long_cmd_notify() {
    local sound="$1"
    [[ -f "$sound" ]] || return 0
    if command -v afplay >/dev/null 2>&1; then
        afplay "$sound" >/dev/null 2>&1 &
    elif command -v paplay >/dev/null 2>&1; then
        paplay "$sound" >/dev/null 2>&1 &
    fi
}

_zsh_long_cmd_preexec() {
    __zsh_long_cmd_start_time=$EPOCHSECONDS
    __zsh_long_cmd_skip=0
    [[ "$1" =~ $ZSH_LONG_CMD_IGNORE_RE ]] && __zsh_long_cmd_skip=1
}

_zsh_long_cmd_precmd() {
    if [[ "$__zsh_long_cmd_start_time" -gt 0 ]]; then
        local duration=$((EPOCHSECONDS - __zsh_long_cmd_start_time))
        if [[ "$__zsh_long_cmd_skip" -eq 0 && "$duration" -ge "$ZSH_LONG_CMD_THRESHOLD" ]]; then
            _zsh_long_cmd_notify "$ZSH_LONG_CMD_SOUND"
        fi
    fi
    __zsh_long_cmd_start_time=0
    __zsh_long_cmd_skip=0
}

add-zsh-hook preexec _zsh_long_cmd_preexec
add-zsh-hook precmd _zsh_long_cmd_precmd

# envs

export EDITOR='nvim'

## homebrew
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
{{- end }}

## sheldon
eval "$(sheldon source)"

## fzf
eval "$(fzf --zsh)"

### compinit
autoload -Uz compinit && compinit

### direnv
eval "$(direnv hook zsh)"

# startups
[[ $- != *i* ]] && return
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh
[[ -z "$TMUX" ]] && tmux
